/*NAVIGATION*/

[data-role="nav"] {
    position: fixed;
    z-index: 30;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: #ccc;
}

.tabs {
    list-style: none;
}

.tabs li {
    float: left;
    width: 50%;
}

.tabs a {
    display: block;
    line-height: 2rem;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.tabs a:first-child {
    border-right: 1px solid #333;
}


/*END NAVIGATION*/


/* Start 2 page display */


/*pages are not displayed*/

[data-role="page"] {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 10;
    padding-bottom: 5rem;
    /* to match the height of the nav bar */
    padding-top: 4rem;
    /* leaving space for the heading */
}

[data-role="page"].active {
    display: block;
    z-index: 20;
}


/* End 2 page display */

#teamStandings {
    border-collapse: collapse;
    border: 1px solid #666;
    width: 90%;
    margin: 2rem auto;
    color: brown;
}

#teamStandings th,
#teamStandings td {
    border: 1px solid #999;
    text-align: center;
    padding: 0.5rem 0.5rem;
    line-height: 2rem;
}